{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.type == "submit" %}

{% set more_classes = [ 'btn', 'btn-primary' ] %}
{% set less_classes = [ 'button', 'button--primary' ] %}

<input{{ attributes.removeClass( less_classes ).addClass( more_classes ) }} />{{ children }}

{% elseif attributes.type == "checkbox" or attributes.type == "radio" %}

<input{{ attributes }} />{{ children }}

{% else %}

{% set more_classes = [ 'form-control' ] %}
<input{{ attributes.addClass( more_classes ) }} />{{ children }}

{% endif %}
