
.admin-block-content-card {
  margin: 1em 0;
  .card-header {
    background-color: $secondary;
    a:link, a:active, a:hover, a:visited {
      text-decoration: none;
      font-weight: bold;
      font-size: 110%;
      color: $white;
    }
  }
}
