

.form-item label.form-required {
  font-weight: bold;
}

.form-item {
  margin: 0.75em 0;
}

.form-item .description {
  font-size: 0.9em;
  font-style: italic;
  padding: 0.5em 0;
  margin: 0;
}

.form-wrapper {
  padding: 2px;
  margin: 2px;
}
