html, body {
   min-height: 100vh;
}


#block-stageone-site-branding {
  .site-name {
    font-size: 110%;
  }
  .site-name, .site-slogan {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
}

.stageone-hf {
   clear: both;
}

.stageone-header {
   margin-bottom: 2em;
}

.stageone-footer {
   margin-top: 2em;
   background-color: rgba( 0, 0, 0, 0.2 );
}

.stageone-sidebar {
}

#search-block-form {
  @extend .d-flex;
}


.nav-tabs .nav-item a {
  @extend .nav-link;
}

.nav-tabs .nav-item a.is-active {
  @extend .nav-link, .active;
}

.stageone-layout {
}

.stageone-main {
}

.stageone-main-liner {
}

