{#
/**
 * @file
 * Theme override for the content of an administrative block.
 *
 * Available variables:
 * - content: List of administrative menu items. Each menu item contains:
 *   - link: Link to the admin section.
 *   - title: Short name of the section.
 *   - description: Description of the administrative menu item.
 *   - url: URI to the admin section.
 *   - options: URL options. See \Drupal\Core\Url::fromUri() for details.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 */
#}
{%
  set classes = [ 'list-group' ]
%}
{% if content %}
    {% for item in content %}
     <div class="card admin-block-content-card">
      <div class="card-header">{{ item.link }}</div>
      {% if item.description %}<div class="card-body">{{ item.description }}</div>{% endif %}
      </div>
    {% endfor %}
{% endif %}
