{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

{{ menus.menu_links(items, attributes, 0, '') }}

{% macro menu_links(items, attributes, menu_level, link_id ) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav">
    {% else %}
      <ul class="dropdown-menu" aria-labelledby="{{ link_id }}">
    {% endif %}
    {% for item in items %}
      {% set link_id = 'main_menu_link_' ~ menu_level ~ '_' ~ loop.index %}
      <li class="{% if menu_level == 0 %}nav-item{% endif %}{% if item.below %} dropdown{% endif %}"> 
        {%
          set link_classes = [
            (menu_level == 0) ? 'nav-link',
            item.below ? 'dropdown-toggle',
            (menu_level > 0) ? 'dropdown-item',
            item.in_active_trail ? 'active'
          ]
        %}
        {% set toggle_attr = ' role=button data-bs-toggle=dropdown ' %}
        <a id="{{ link_id }}" href="{{ item.below ? '#' : item.url }}" {{ item.below ? toggle_attr }} {{ item.attributes.addClass(link_classes) }}>{{ item.title }}</a>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, link_id ) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

