{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{% if primary %}
  <div class="my-3">
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="nav nav-tabs primary-tabs">{{ primary }}</ul>
  </div>
{% endif %}

{% if secondary %}
  <div class="my-3">
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="nav nav-tabs secondary-tabs">{{ secondary }}</ul>
  </div>
{% endif %}
