{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}

  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" rel="home">
    {% if site_logo %}<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="d-inline-block align-text-middle" height="64" />{% endif %}
    {% if site_name %}<span class="site-name">{{ site_name }}</span>{% endif %}
    </a>
  {% endif %}
  <span class="site-slogan d-none d-lg-inline-block">{{ site_slogan }}</span>
{% endblock %}
