{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).

regions:
    site_branding: Site Branding
    main_menu: Main Menu
    breadcrumbs: Breadcrumbs
    content: Content
    sidebar_one: Left Sidebar
    sidebar_two: Right Sidebar
    footer_a: Footer A
    footer_b: Footer B
    footer_c: Footer C

 */
#}

<div class="stageone-layout d-flex flex-column min-vh-100">

  <header id="header" role="banner" class="mb-3">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        {{ page.site_branding }}    
        <div class="collapse navbar-collapse" id="stageone-menu">
          {{ page.main_menu }}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#stageone-menu" aria-controls="stageone-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>


  <main role="main" id="main" class="stageone-main flex-grow-1">
    <div class="stageone-main-liner container">
     {% if page.breadcrumbs %}{{ page.breadcrumbs }}{% endif %}
     <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
     <div class="row">
       <div class="order-2 col">
       {{ page.content }}
       </div>
       {% if page.sidebar_one %}
       <aside id="sidebar_one" class="order-1 col-xs-12 col-md-6 col-lg-3 stageone-sidebar" role="complementary">
         {{ page.sidebar_one }}
       </aside>
       {% endif %}
       {% if page.sidebar_two %}
       <aside id="sidbar_two" class="order-3 col-xs-12 col-md-6 col-lg-3 stageone-sidebar" role="complementary">
        {{ page.sidebar_two }}
       </aside>
       {% endif %}
     </div>
    </div>
  </main>

  <footer id="footer" class="stageone-footer stageone-hf mt-4 p-4" role="contentinfo">
    <div class="container">
      <div class="row">
         <div class="col">{{ page.footer_a }}</div>
         <div class="col">{{ page.footer_b }}</div>
         <div class="col">{{ page.footer_c }}</div>
      </div>
    </div>
  </footer>

</div>

